@media (max-width: 744px) {
    header {
        width: 744px;
    }


  .header_ul {
    display: none;
  }
  h2 {
    padding-left: 24px;
  }
  .header_div {
    display: none;
  }
  .bars_div {
    display: block;
    padding-right: 24px;
  }
}
